*{box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
body{
    background-color: black;
}
h1{
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

}
button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid rgb(129, 4, 129);
    z-index: -1;
}
button::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: darkorange;
    transition: 1s all ease;
    z-index: -1;
}
button::before{
    width: 100%;
    height: 0;
}
button:hover::before{
    height: 100%;
}














